.div1{
    background-color: rgba(33, 179, 184, 0.987);
    width: 75%;
    height:100%vh;  
    padding: 20% 30%;
     }
#div2{
    margin:1% 27% 1% 10%;
    padding: 5% 5%;
    border:2px dotted rgb(15, 2, 2);
}
.pricing{
    color: rgb(201, 89, 199);
}
h1{
    color: rgb(165, 150, 150);
    font-size: 40px;
    text-decoration:underline;
}
#action,#project,#brand,#about {
    box-sizing: border-box;
    width: 500px;
    height: 50px;
    background-color:rgba(121, 160, 79, 0.987) ;
    color:white;
    border-radius: 5px;
    text-indent:20px;
    border-color: rgb(45, 45, 167);
} 
#div2 :hover  {
border-color:rgb(183, 0, 255); 
}
button{
    box-sizing: border-box;
    width: 100px;
    height: 50px;
    background-color: rgb(231, 73, 37);
    color: rgb(16, 12, 12);
    text
}