body .div1{
    background-image:url(https://images.pexels.com/photos/1699025/pexels-photo-1699025.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2); 
    height: 300px;
    width: 200px;
    box-shadow: 5px 5px 10px 3px black;
    z-index: 0;
    transform: rotate(-20deg);
    background-size: cover;
}
.div2{
    background-image:url(https://images.pexels.com/photos/1743367/pexels-photo-1743367.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    height:300px;
    width:200px;
    box-shadow: 5px 5px 10px 3px black;
    z-index: -1;
    transform: rotate(20deg);
    background-size: cover;
}
body{
    display: flex;
    position: absolute;
    top: 180px;
    left: 440px;
}