p{
    background-color: aqua;
    width: 50%;
    height: 50vh;
}

@media screen and (min-width: 480px){
    .div1{
        background-color: blue;
        width: 50%;
        height: 50vh;
    }
    
}
    
